# DJANGO
DJANGO_ENV=
DJANGO_SECRET_KEY=
DJANGO_DEBUG=

# HOSTS
DJANGO_ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=

# DB
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# IMAGE AI GENERATE
BULK_WHITE_IMAGE_SERVICE_URL=
BULK_WHITE_IMAGE_SERVICE_TOKEN=
BULK_WHITE_IMAGE_SERVICE_TIMEOUT_SECONDS=

BULK_WHITE_IMAGE_SERVICE_TIMEOUT_SECONDS=


BULK_WHITE_IMAGE_SERVICE_RESULTS_URL=
BULK_WHITE_IMAGE_SERVICE_POLL_INTERVAL_SECONDS=
BULK_WHITE_IMAGE_SERVICE_MAX_POLL_ATTEMPTS=


# FTP
FTP_MEDIA_HOST=
FTP_MEDIA_PORT=
FTP_MEDIA_USERNAME=
FTP_MEDIA_PASSWORD=
FTP_MEDIA_REMOTE_ROOT=
FTP_MEDIA_PUBLIC_BASE_URL=
FTP_MEDIA_USE_TLS=
FTP_MEDIA_PASSIVE_MODE=
FTP_MEDIA_TIMEOUT_SECONDS=


# CELERY
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=


# OPEN AI(DESCRIPTION)
OPENAI_API_KEY=
PRODUCT_AVAILABILITY_REMINDER_DAYS=
PRODUCT_AVAILABILITY_REMINDER_BATCH_SIZE=

# FIREBASE
FIREBASE_ENABLED=true
FIREBASE_SERVICE_ACCOUNT_FILE=secrets/firebase-service-account.json


